#MAGICCVS
Host magiccvs
User USERNAME
HostName magiccvs.byu.edu
Port 290


# ROBOTS
Host shredder
User shredder
HostName cave
Port 2002

Host mikey
user mikey
Hostname cave
Port 2003

Host leo
User leo
HostName cave
Port 2004

Host odroid
User odroid
HostName cave
Port 2005


# COMPUTERS
Host april
User april
HostName cave
Port 2011

Host cortex
User cortex
HostName cortex
Port 2012

Host splinter
User splinter
HostName cave
Port 2013

Host casey
User casey
HostName cave
Port 2014

Host laptop
User gps-denied
HostName cave
Port 2015
